body {
    font-family: 'Karla', 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: #B06940;
}

a:hover {
    text-decoration: none;
    color: rgba(176, 105, 64, 0.4);
    transition: color 0.5s ease-out;
}
  
h1 {
    margin-top: 75px;
    font-weight: 700;
    font-size: 40px;
}

div .body {
    margin-top: 50px;
}

div .form {
    margin-bottom: 50px;
}
  
.content {
margin: 10px auto;
width: 50%;
}

.clearfix {
overflow: hidden;
overflow-x: hidden;
width: 100%;
}

.btn-group button {
    background-color: #B06940;
    border: 2px solid #B06940;
    color: white; /* White text */
    padding: 11px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button-secondary {
    background-color: white;
    color: #B06940; /* White text */
    border: 2px solid #B06940;
    border-radius: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */

    transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}

.btn-group button-secondary:hover {
    background-color: white;
    color: rgba(176, 105, 64, 0.6); /* White text */
    border: 2px solid rgba(176, 105, 64, 0.6);
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
background-color: #884925;
}